.App {
  height: 100vh;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
}
@media screen and (max-width:1000px) {
  html{
    position: relative;
  }
  .custom-sidebar{
    display: flex;
    max-width: 10px!important;
    position: absolute;
  }
  #title{
    display: none;
  }
  .rightSide{
    display: none;
  }
  .navbar{
    display: flex!important;
    flex-direction: column!important;
    overflow: scroll!important;
  }
  .user-row{
    display: none;
  }
  .chat-open-screen{
    width:97%;
    margin-left: 20%;
  }
}
@media screen and (max-width:1000px) {
  .user-row{
    display: none;
  }
  .chat-open-screen{
    width:66%;
  } 
  /* .chat-open-screen{
    display: block;
    position: relative;
    max-width: 90vw!important;
  }  */
}
.custom-sidebar .custom-logo {
  height: 10vh;
  padding-left: 31px;
  padding-top: 42px;
  position: fixed;
}
.custom-sidebar {
  height: 100%;
  width: 250px;
}

.custom-sidebarList {
  height: auto;
  width: 16%;
  position: fixed;
  padding-top: 90px;
  border-right: 0.8px solid lightgray;
}
.custom-sidebarList .custom-row {
  margin-left: 5%;
  margin-top: 3%;
  font-size: medium;
  cursor: pointer;
  height: 50px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.custom-row:hover {
  background-color: rgba(0.2, 0.2, 0.2, 0.05);
  cursor: pointer;
  border-radius: 10px;
  /* font-weight: 500; */
  /* font-size: large; */
}

img.icons {
  height: 25px !important;
}

.custom-row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
  height: 28px !important;
  position: relative;
}
.custom-row #title {
  flex: 90%;
  text-decoration: none;
  color: black;
}

.active {
  background-color: rgba(0.2, 0.2, 0.2, 0.05);
  cursor: pointer;
  border-radius: 10px;
  font-weight: 700;
}
.postImg {
  margin: 4px !important;
  padding: 0px !important;
  width: 23vw;
  height: 33vh;
  z-index: 1;
}
.postImg:hover {
  opacity: 0.9;
  filter: brightness(50%);
  transition: 0.3s;
  background: rgba(0, 0, 0, 0.5);
}
#more {
  margin-top: 20px;
}

.story {
  height: 60px;
  width: 60px;
  border: 2px solid lightcoral;
  border-radius: 100%; 
  cursor: pointer;
  margin-left: 15px;
  padding: 30px; 
  border-color: linear-gradient(to right, red, orange);
  border-radius: 50%;
  background-position-x:center;
  background-size: cover;
}

.profileRow {
  cursor: pointer;
  height: 10vh;
  /* background-color: burlywood; */
  /* border-radius: 8%; */
  width: 100%;
}
img {
  cursor: pointer;
}

.pfpicture {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: aliceblue;
  object-fit: cover;
}
.card {
  position: static!important;
}
.profileRow span {
  color: gray;
}
.profileRow p {
  font-size: larger;
  margin-top: 6px;
}
.profileRow p #sug {
  font-size: small;
}
.profileHead {
  line-height: 1;
}
.followbtn {
  background-color:#e4e9ed!important;
}

.postContent {
  height: 55vh;
  width: 100%;
}

.userPost {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.post {
  margin-left: 17%;
  background-color: white !important;
  border: none !important  ;
}

.card-header {
  background-color: white !important;
  border: none !important  ;
}
.card-footer {
  border: none !important;
  background-color: white !important;
}

.card i {
  cursor: pointer;
}

.post {
  height: 50vh;
}

.animate {
  animation-duration: 1000ms;
  animation-name: like-heart-animation;
  animation-timing-function: ease-in-out;
}

@keyframes like-heart-animation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  15% {
    opacity: 0.9;
    transform: scale(1.2);
  }
  30% {
    transform: scale(0.95);
  }
  45%,
  80% {
    opacity: 0.9;
    transform: scale(1);
  }
}

.Profile {
  /* background-color: #16a516; */
  /* margin-block: 35px!important;
  margin-inline: 65px!important; */
  margin-top: 20px;
  margin-left: 20px;
  float: left;
  display: block;
  max-width: 1000px !important;
}

.info-container {
  /* background-color:burlywood; */
  margin: 0;
  /* margin-inline:0px; */
  height: 38%;
  display: flex;
  border-bottom: 1px solid darkgray;
}

.info-container .col-md-4 {
  height: 100%;
  /* background-color: yellowgreen; */
}
.info-container .container {
  height: 100%;
  display: block;
  align-items: center;
  justify-content: center;
  /* background-color: turquoise; */
  text-align: center;
}
.info-container img {
  height: 80%;
  margin-top: 5%;
  border-radius: 90%;
}
.info-container .row {
  /* height: 33%; */
  margin-top: 10px;
  vertical-align: center;
  place-items: center;
  margin-right: 40%;
}

.editprofile {
  border-radius: 10%;
  border: none!important;
  height: 40px;
  width: 120px;
  background-color: lightgray!important;
}
.editprofile:hover {
  background-color: rgba(6, 6, 6, 0.25)!important;
}

a.active {
  border-top: 2px solid black !important;
  border-radius: 0px !important;
}

.p-section i {
  font-size: x-small;
}

html {
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

i {
  cursor: pointer;
}
.dropdown-menu {
  inset: auto auto 0px 0px !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  width: 200px !important;
}

.more {
  height: 10% !important;
  display: flex;
  color: black;
  text-decoration: none;
}

.dropdown-item:active {
  background-color: #fbfbfb !important;
  color: black !important;
}
.dropdown-item {
  height: 45px;
  display: flex !important;
  align-items: center;
}
.dropdown-item:hover {
  background-color: #eeeeee !important;
}

.offcanvas.offcanvas-start {
  left: 16% !important;
}
.header-notification {
  border-bottom: 2px solid darkgray;
}
.offcanvas-body .notification {
  margin-bottom: 5px;
}
.offcanvas-backdrop.show {
  opacity: 0 !important;
}
#input {
  border: none !important;
}
:focus-visible {
  outline: none !important;
}

.hovered {
  position: absolute;
  top: 45%;
  left: 40%;
  z-index: 999;
}

.randomDiv {
  position: fixed;
  z-index: 999;
  left: 35%;
  top: 20%;
}

.addCover {
  opacity: 0.5;
  filter: blur(4px);
  z-index: -1;
  overflow: hidden;
}

.random {
  height: 60vh;
  width: 60vh!important;
  border-radius: 50%;
}
.form-control:focus {
  /* border: none !important; */
  box-shadow: none !important;
  border-color: lightgray !important;
}
.searchbox {
  background-color: rgb(241, 238, 238) !important;
}

.chatUser p {
  font-size: small;
  color: gray;
}

.search_in_chat {
  border: none !important;
  height: 6vh !important;
  /* margin-bottom: 10px; */
  width: 100%;
}

.searchChat hr{
  margin-top: 0px!important;
  margin-bottom: 0px!important;
}
 
#storyviewer{
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 1;
  background: #3a3838;
}
.progress-item{
  margin-top: 5px!important;
  background-color: rgb(112, 115, 118);
  z-index: 9999999;
  height: 4px;
  margin-left: 4px;
  display: flex;
}

.progress-item.seen{
  background-color: white!important;
  box-shadow: #eeeeee;
}
.searchChat hr {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.form-floating > .form-control {
  height: 6px !important;
}

#list-active{
  z-index: 999 !important;
}
#modal{
  z-index: 1000;
}
.placeholder{
  border-radius: 8px;
}

.comments{
    width: 250px;
    max-width: 500px;
    height: 100px!important;
    max-height: 500px;
    height: 100px;
    position:absolute;
    border-radius:15px ;
    top:2px;
    left:120px;
    padding:15px;
    background-color: lightgray;
    color: black;
    animation: move 20s infinite;
    animation-iteration-count: infinite;
    font-size: x-small; 
    z-index: 999999;
   
}
@keyframes move {
  20% {
    box-shadow: 10px 20px 30px gray;
  }
  from{
    bottom:45px;
    left:40px; 
  }
  to{
    top:100px;
    left:300px;
  }
}
.spinner-container{
  justify-content: center;
  align-items: center;
  display: grid;
}

.spinner {
  border : 10px solid #f3f3f3;
  border-top: 10px solid #bcbbbb;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite; 
}

@keyframes spinner{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.page{
  width: 82vw;
}
.custom-sidebar{
  width: 18vw
  ;
}
.stats{
  cursor: pointer;
}
.account{
  position: absolute;
  top:82vh;
  left:5vw
}
svg{
  cursor: pointer;
}
.chat-input{
  padding-left: 60px;
  width: 95%;
  height:55px;
  margin-left:10px;
  border-radius:25px; 
}
.arrived{
  position: absolute;
  color: red;
  bottom: 2px;
  left: 25px;
  font-size: xxx-large;
  font-weight: 700;
}

.userStory{
  position:absolute;
  left:74%;
  bottom:5%;
  border-radius:50%;
  padding-left:'4px';
  background-color:cadetblue;
  width:23px
}
.userStory i {
  padding-left: 4px;
}
.other{
  display: block;
  height: 30px;
  background-color: lightgray;
  width: auto; 
  float: left;
  border-radius: 100px;
  padding-inline: 15px;
  clear:both
}
.self{
  display: block;
  height: 31px;
  background-color: lightgray;
  width: auto; 
  float: right;
  border-radius: 100px;
  padding-inline: 15px;
  clear:both
}
#container{
  overflow: auto;
  padding-top:12px
}
section.body{
  overflow:auto
}